Publisher/Tracker.Publisher/.vs/CopilotSnapshots/CF55CBAAE6DB3C48BCAC844DCDDBABCB/state.mpack
Publisher/Tracker.Publisher/bin
Publisher/Tracker.Publisher/obj
Publisher/Tracker.Publisher.Tests/bin
Publisher/Tracker.Publisher.Tests/obj
SensorReader/Tracker.SensorReadingProcessor/bin
SensorReader/Tracker.SensorReadingProcessor/obj
SensorReader/Tracker.SensorReadingProcessor.Tests/bin
SensorReader/Tracker.SensorReadingProcessor.Tests/obj
